<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 0neBean-->
<!--网关用户 mapper-->
<!--since 2024-06-03 18:08:54-->
<mapper namespace="com.tkfc.sdk.mapper.GatewayUserMapper">

    <sql id="basicFiled">
            t.id,
            t.operator_name,
            t.operator_id,
            t.update_time,
            t.create_time,
            t.is_deleted,
            t.email,
            t.mobile_number,
            t.interested_app,
            t.is_active,
            t.password,
            t.real_name,
            t.username
    </sql>

    <select id="tableExists" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM information_schema.tables
        WHERE table_schema = DATABASE()
          AND table_name = 'gateway_user_${tableName}'
    </select>

    <resultMap id="basicResultMap" type="com.tkfc.sdk.model.GatewayUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="operator_id" jdbcType="INTEGER" property="operatorId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_deleted" jdbcType="CHAR" property="isDeleted"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile_number" jdbcType="VARCHAR" property="mobileNumber"/>
        <result column="interested_app" jdbcType="VARCHAR" property="interestedApp"/>
        <result column="is_active" jdbcType="CHAR" property="isActive"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
    </resultMap>


</mapper>
